.add-task-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.add-task-title {
    margin-bottom: 40px !important;
}

.create-task {
    display: flex;
    font-size: 20px;
}

.create-task label {
    padding-bottom: 8px;
}

.input-border-size {
    height: 48px;
    padding: 12px 21px;
    width: 440px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    box-sizing: border-box;
}

.input-border-size:focus {
    border-color: var(--color-accent) !important;
    outline: none;
}

input::placeholder {
    color: #D1D1D1;
}

.input-wrapper {
    position: relative;
    width: 440px;
}

#task-due-date {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px;
}

.placeholder-icon {
    position: absolute;
    top: 12px;
    right: 16px;
    cursor: pointer;
}

.task-label-divs {
    display: flex;
    flex-direction: column;
}

.task-main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 376px;
    padding-right: 2rem;
}

#task-title-label::after {
    content: "*";
    color: #FF8190;
}

#task-description {
    width: 440px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    resize: none;
    font-size: 20px;
    font-family: 'Inter';
    padding: 18px 16px;
}

#task-description::placeholder {
    color: #D1D1D1;
}

#task-description:focus {
    border-color: var(--color-accent) !important;
    outline: none;
}

.description {
    position: relative;
}

.description svg {
    position: absolute;
    bottom: 4px;
    right: 71px;
}

.assign-contacts {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    cursor: pointer;
}

.assign-contacts:hover {
    border: 1px solid #A8A8A8;
}

.assign-contacts svg:hover {
    background-color: #EFEFEF;
    border-radius: 50%;
}

#dropdown-icon {
  transition: transform 0.3s ease;
}

#dropdown-icon.open {
  transform: rotate(180deg);
}

#dropdown-icon-categories {
  transition: transform 0.3s ease;
}

#dropdown-icon-categories.open {
  transform: rotate(180deg);
}

.categories-dropdown {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.categories-dropdown span {
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.categories-dropdown span:hover {
    background-color: #EFEFEF;
}

#categories {
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    z-index: 2;
}

#categories.show {
    max-height: 280px;
}

#contacts-to-select {
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; 
    z-index: 2;
}

#contacts-to-select.show {
    max-height: 280px;
}

.single-contact {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.single-contact:hover {
    background-color: #EFEFEF;
}

.contact-name {
    display: flex;
    align-items: center;
    gap: 16px;
}

#selected-contacts {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.task-category {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.task-category:hover {
    border: 1px solid #A8A8A8;
}

.subtask {
    position: relative;
}

.delete-or-keep-subtask {
    position: absolute;
    top: 12px;
    right: 16px;
    display: flex;
}

.delete-or-keep-subtask svg {
    cursor: pointer;
    border-radius: 50%;
}

.keep-subtask {
    border-left: 1px solid #E0E0E0;
    padding-left: 5px;
}

.delete-subtask {
    padding-right: 5px;
}

.delete-or-keep-subtask svg:hover {
    background-color: #EFEFEF;
}

#task-due-date-label::after {
    content: "*";
    color: #FF8190;
}

.task-additional-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 2rem;
    width: 50%;
    height: 400px;
    border-left: 2px solid #E0E0E0;
    align-items: end;
}

.priority-btns {
    display: flex;
    justify-content: space-between;
    width: 440px;
    gap: 16px;
}

.priority-btns button {
    height: 56px;
    width: 136px;
    padding-right: 10px;
    gap: 8px;
    border-radius: 10px;
    border: 0cap;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
}

.priority-btns button svg {
    overflow: visible;
}

#urgent-priority-btn:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

#medium-priority-btn:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

#low-priority-btn:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

#task-category-label::after {
    content: "*";
    color: #FF8190;
}

#selected-subtasks {
    padding-left: 58%;
}

.task-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    flex: 1;
}

p#field-requiered-info::before {
    content: "*";
    color: #FF8190;
}

.task-btns {
    display: flex;
    gap: 16px;
    box-sizing: border-box;
    position: relative;
}

#clear-btn {
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: #F6F7F8;
    width: 110px;
    box-sizing: border-box;
    justify-content: center;
}

#clear-btn:hover {
    border: 2px solid var(--color-accent);
    color: var(--color-accent);
    box-shadow: 0px 4px 4px 0px #00000040;
}

#clear-btn:hover .x-svg path {
    fill: var(--color-accent);

}

#create-task-btn {
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 21px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--color-primary);
    width: 183px;
    box-sizing: border-box;
    justify-content: center;
    font-weight: 700;
    height: 56px;
}

#create-task-btn:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 2px solid var(--color-accent);
}

#create-task-btn:active {
    background-color: #091931;
    border-color: #091931;
}

#clear-btn:active {
    border-color: #091931;
}

.flatpickr-month {
    background-color: var(--color-primary) !important;
}

.flatpickr-current-month {
    color: white !important;
}

.flatpickr-months {
    border-radius: 12px !important;
}

.flatpickr-monthDropdown-months {
    background-color: var(--color-primary) !important;
}

.arrowUp,
.arrowDown {
    background-color: #2A3647;
    border-radius: 4px;
    padding: 2px;
}

.arrowUp:hover,
.arrowDown:hover {
    background-color: white !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    color: rgb(255 255 255) !important;
    fill: rgb(235 235 235) !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: white !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.flatpickr-calendar {
    border-radius: 12px !important;
}