button {
    cursor: pointer;
}


.board-content {
    display: flex;
    flex-direction: column;

}

.board-search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.board-search-bar-add-task {
    display: flex;
    align-items: center;
}

.board-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 312px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-color: #FFFFFF;
}

#board-search-input {
    height: 32px;
    width: 280px;
    padding-left: 16px;
    border: none;
    font-size: 21px;
}

.add-task-search-icon {
    border-left: 1px solid #A8A8A8;
    margin-left: -30px;
    width: 48px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-search-icon {
    height: 18px;
}

#board-add-task-btn {
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    padding: 16px;
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #FFFFFF;
    background-color: var(--color-primary);
    width: 160px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    height: 48px;
    margin-left: 32px;
}

#board-add-task-btn svg {
    margin-bottom: 2px;
}

.board-task-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    width: 100%;
}

.board-tasks {
    display: flex;
    flex-direction: column;
    width: 244px;
}

.board-tasks-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.board-task-btn {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-primary);
    background-color: transparent;
    border-radius: 8px;
    padding: 3px;
    gap: 10px;
}

#overlay-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    top: 0;
    left: 0;
    z-index: 99;
}

#add-task-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 1116px;
    height: 870px;
    z-index: 1000;
    top: 80px;
    left: 180px;
}

.overlay-close-btn {
    position: absolute;
    top: 64px;
    right: 64px;
    border: none;
    background-color: transparent;
}

.add-task-content {
    position: absolute;
    justify-content: space-between;
    top: 64px;
    left: 64px;
    height: 90%;
}

.add-task-content .description svg {
    right: 6px;
    bottom: 6px;
}

#add-task-overlay .add-task-to-board-div.show {
    animation: slideUpBoard 0.5s ease-out forwards !important;
}

#add-task-overlay .add-task-to-board-div.hide {
    animation: slideDownBoard 0.5s ease-in forwards !important;
}

.task-footer {
    flex: 0;
}

.current-board-tasks {
    margin-top: 20px;
    font-size: 18px;
    background-color: #E7E7E7;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
}

/* ab hier Idee für Tasks */

.task {
    background-color: rgb(255, 255, 255);
    width: 218px;
    min-height: 190px;
    border-radius: 24px;
    gap: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.category {
    width: 113px;
    height: 27px;
    border-radius: 8px;
    padding: 4px 16px;
    gap: 10px;
    background-color: var(--color-accent);
    color: #FFFFFF;
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
}

.task-description {
    display: flex;
    width: 220px;
    height: 46px;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.task-title {
    width: 100%;
    height: 19px;
}

.task-content {
    width: 100%;
    height: 19px;
}

.task-status {
    width: 220px;
    height: 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.progress-bar {
    width: 128px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--color-accent);
}

.subtask-count {
    width: 88px;
    height: 17px;
    display: flex;
}

.task-info {
    width: 220px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignee {
    width: fit-content;
    height: 32px;
    display: flex;
}

.user-avatar {
    position: relative;
    margin-left: -10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    background-color: rgba(196, 24, 124, 0.85);
    z-index: 0;
}

.user-avatar:first-child {
    margin-left: 0;
}

.priority {
    width: 32px;
    height: 32px;
}



@keyframes slideUpBoard {
    0% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -500%);
    }
}

@keyframes slideDownBoard {
    0% {
        opacity: 1;
        transform: translate(-50%, -500%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
}