.contact-main-section{
    display: flex;
    flex-direction: row;
    height: calc(100% - 96px);
}

.contact-sidebar{
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 0 6px -2px rgba(0, 0, 0, 0.096);
    padding: 22px 52px 22px 52px;
    box-sizing: border-box; 
}

.add-contact-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 100%;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    border: none;
}

.contact-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 52px 20px 52px;
    box-sizing: border-box;

}

.line{
    height: 59px;
    width: 3.5px;
    background-color: #29ABE2;
    border-radius: 3px;

}

.contact-main-header{
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.h1-contacts{
    font-family: 'Inter';
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.h2-contacts{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.p-header-contact{
    font-family: 'Inter';
    font-size: 27px;
    font-weight: 400;
}

.overlay-contact{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(71, 54, 42, 0.448);
}

.d_none{
    display: none;
}

.popup-contact{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup-leftside{
    width: 300px;
    height: 100%;
    background-color: #2A3647;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    gap: 20px;
}

.popup-rightside{
    width: 600px;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 20px;
}

.popup-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

}

.input-add-contact{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background: url('../assets/icons/arrow-left-line.svg') no-repeat right 8px center;
    background-size: 16px;
}

.input-add-contact::placeholder {
    color: rgba(0,0,0,0.3);
}
