footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

#content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-log-in {
    background-color: rgb(246, 247, 248);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-header {
    width: 100%;
    height: 49px;
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.responsive-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    z-index: 0;
}

.registry-container {
    width: 279px;
    height: 49px;
    display: flex;
    align-items: center;
    gap: 34px;
    margin-right: 117px;
    animation: fade-in 1.5s ease forwards;
}

.registry-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.registry-button {
    width: 91px;
    height: 49px;
    padding: 15px 16px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
    border-width: 0px;
    align-items: center;
    display: flex;
    border: unset;
}

.registry-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.mobile-overlay {
    display: none;
}

.logo-weiß {
    display: none;
}

.logo-wrapper {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    z-index: 4;
}

.logo-move-to-top-left {
    animation: move-to-top-left 600ms ease-in-out forwards;
    animation-timing-function: linear;
}

.form-log-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.log-in-container {
    max-width: 652px;
    min-width: 270px;
    /* height: 500px; */
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 48px 115px 85px 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in 1.5s ease forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    line-height: 120%;
    font-weight: 700;
    font-size: 61px;
    font-style: normal;
    letter-spacing: 0%;
    text-align: center;
    align-self: center;
    margin: 0px;
    padding: 0px;
}

.line{
    width: 150px;
    height: 0px;
    border: 3px solid var(--color-accent);
    margin-top: 10px;
    border-radius: 3px;
}

.input-main-container {
    padding-top: 32px;
}

.input-email::placeholder,
.input-password::placeholder,
.input-name::placeholder {
    color: rgb(215, 215, 215);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    padding-left: 21px;
}

.input-symbol {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 21px;
}

.input-email-container,
.input-password-container {
    max-width: 422px;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 8px;
    display: flex;
    align-items: center;
    align-self: center;
}

.active-border-color {
    border: 1px solid rgb(11, 173, 237);
}

.error {
    color: red;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
    align-self: center;
}

.input-email,
.input-password{
    width: 380px;
    height: 24px;
    border-width: 0px;
    outline: none;
    font-size: 20px;
}

.log-in-button-container {
    width: 322px;
    height: 48px;
    gap: 35px;
    display: flex;
    place-self: center;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 20;
}

.from-bottom-to-the-mid {
    animation: move-from-bottom-to-the-mid 500ms ease-in-out forwards;
    animation-timing-function: linear;
}


.forgotten-password-link {
    color: #bdbdbd;
}

.forgotten-password-link:hover {
    color: var(--color-accent);
}

.link-to-privacy-policy {
    color: var(--color-accent);
}

.log-in-button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
    border: unset;
}

.log-in-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
    border: 1px solid transparent;
}

.log-in-guest-button {
    width: 177px;
    height: 48px;
    border-radius: 8px;
    border-color: rgb(82, 92, 106);
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
}

.log-in-guest-button:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
    border-width: 2px;
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.red-colored {
    color: red;
}

.registry-button,
.log-in-button,
.log-in-guest-button {
    transition: all 0.1s ease;
}

.registry-button,
.log-in-button,
.log-in-guest-button {
    transition: background-color 0.1s ease,
        border-color 0.1s ease,
        border-width 0.1s ease,
        box-shadow 0.1s ease,
        color 0.1s ease;
}

.privacy-legal-link-container {
    display: flex;
    justify-content: center;
    width: 246px;
    height: 35px;
    gap: 34px;
    color: rgb(192, 193, 193);
    font-size: 16px;
    animation: fade-in 2.5s ease forwards;
}

.privacy-legal-link {
    color: #bdbdbd;
}

.privacy-legal-link:hover {
    color: #29ABE2;
    font-weight: bold;
}

@keyframes move-to-top-left {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }

    100% {
        top: 64px;
        left: 65.5px;
        width: 101px;
        height: 122px;
        transform: translate(0, 0);
        z-index: 20;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes move-from-bottom-to-the-mid {
    0% {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }
}