footer {
    width: 100%;
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: center;
}

#content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-log-in {
    background-color: rgb(246, 247, 248);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-header {
    width: 100%;
    height: 116px;
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

.registry-container {
    width: 279px;
    height: 49px;
    display: flex;
    align-items: center;
    gap: 34px;
    margin-right: 117px;
    animation: fade-in 1.5s ease forwards;
}

.registry-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.registry-button {
    width: 91px;
    height: 49px;
    padding: 15px 16px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
    border-width: 0px;
}

.registry-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.logo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-move-to-top-left {
    animation: move-to-top-left 500ms ease-in-out forwards;
    animation-timing-function: linear;
}

.form-log-in,
.form-sign-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.log-in-container {
    max-width: 652px;
    max-height: 449px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    /* padding: 48px 115px 140px 115px; */
    padding: 48px 115px 85px 115px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in 1.5s ease forwards;
}

.sign-up-container {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 48px 115px 280px 115px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in 1.5s ease forwards;
}

h1 {
    line-height: 120%;
    font-weight: 700;
    font-size: 61px;
    font-style: normal;
    letter-spacing: 0%;
    text-align: center;
    align-self: center;
    margin: 0px;
    padding: 0px;
}

.line {
    width: 150px;
    height: 0px;
    border: 3px solid var(--color-accent);
    margin-top: 10px;
    border-radius: 3px;
}

.input-main-container {
    width: 422px;
    height: 152px;
    padding-top: 32px;
}

.input-email::placeholder,
.input-sign-up-name::placeholder,
.input-sign-up-email::placeholder,
.input-password::placeholder,
.input-sign-up-password::placeholder,
.input-sign-up-confirm-password::placeholder,
.input-name::placeholder {
    color: rgb(215, 215, 215);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.input-symbol {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.input-email-container,
.input-password-container,
.input-sign-up-name-container,
.input-sign-up-email-container,
.input-sign-up-password-container,
.input-sign-up-confirm-password-container {
    width: 422px;
    height: 48px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-right: 21px;
}

.active-border-color {
    border: 1px solid rgb(11, 173, 237);
}

.input-email,
.input-sign-up-email,
.input-password,
.input-sign-up-password,
.input-sign-up-name,
.input-sign-up-confirm-password {
    width: 380px;
    height: 24px;
    border-width: 0px;
    outline: none;
    padding-left: 21px;
    font-size: 20px;
}

.log-in-button-container {
    width: 322px;
    height: 48px;
    gap: 35px;
    display: flex;
    place-self: center;
}

.sign-up-header {
    height: 61px;
    display: flex;
    gap: 113px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 76px;
}

.sign-up-form-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
}

.successfully-signed-up {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 321px;
    height: 74px;
    padding-inline: 25px;
    background-color: var(--color-primary);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    place-self: center;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}

.from-bottom-to-the-mid {
    animation: move-from-bottom-to-the-mid 500ms ease-in-out forwards;
    animation-timing-function: linear;
}

.accept-policy {
    color: #bdbdbd;
    cursor: default;
}

.sign-up-checkbox {
    display: none;
}

.custom-checkbox {
    cursor: pointer;
}

.custom-checkbox:hover {
    background-image: url(../assets/imgs/symbols/unchecked-checkbox-hover.svg);
    background-size: cover;
}

.custom-checked-checkbox {
    cursor: pointer;
}

.custom-checked-checkbox:hover {
    background-image: url(../assets/imgs/symbols/checked-checkbox-hover.svg);
    background-size: cover;
}

.forgotten-password-link {
    color: #bdbdbd;
}

.forgotten-password-link:hover {
    color: var(--color-accent);
}

.link-to-privacy-policy {
    color: var(--color-accent);
}

.enabled-sign-up-form-button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
    border-width: 0px;
}

.disabled-sign-up-form-button {
    opacity: 0.2;
    cursor: default;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    border-width: 0px;
}

.disabled-sign-up-form-button:hover,
.enabled-sign-up-form-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.log-in-button,
.sign-up-button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
}

.log-in-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
    border-width: 0px;
}

.log-in-guest-button {
    width: 177px;
    height: 48px;
    border-radius: 8px;
    border-color: rgb(82, 92, 106);
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
}

.log-in-guest-button:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
    border-width: 2px;
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.password-matters {
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
}

.red-colored {
    color: red;
}

.registry-button,
.log-in-button,
.log-in-guest-button {
    transition: all 0.1s ease;
}

.registry-button,
.log-in-button,
.log-in-guest-button {
    transition: background-color 0.1s ease,
        border-color 0.1s ease,
        border-width 0.1s ease,
        box-shadow 0.1s ease,
        color 0.1s ease;
}

.accept-policy {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding-left: 25%;
}

.privacy-legal-link-container {
    display: flex;
    justify-content: center;
    width: 246px;
    height: 35px;
    gap: 34px;
    color: rgb(192, 193, 193);
    font-size: 16px;
    animation: fade-in 2.5s ease forwards;
}

.privacy-legal-link {
    color: #bdbdbd;
}

.privacy-legal-link:hover {
    color: #29ABE2;
    font-weight: bold;
}

@keyframes move-to-top-left {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 64px;
        left: 65.5px;
        width: 101px;
        height: 122px;
        transform: translate(0, 0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes move-from-bottom-to-the-mid {
    0% {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 50%;
        left: 50%;
        /* transform: translate(0, 0); */
        transform: translate(-50%, -50%);
    }
}