#content-wrapper {
    background-color: rgb(246, 247, 248);
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registry-container {
    width: 279px;
    height: 49px;
    display: flex;
    align-items: center;
    gap: 35px;
    margin-right: 117px;
}

.registry-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.registry-button {
    width: 91px;
    height: 49px;
    padding: 15px 16px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
    border-width: 0px;
}

.registry-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.logo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-move-to-top-left {
    animation: move-to-top-left 500ms ease-in-out forwards;
    animation-timing-function: linear;
}

.log-in-container {
    max-width: 652px;
    max-height: 449px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 48px 115px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fade-in 1.5s ease forwards;
}

.d-none{
    display: none;
}

h1 {
    line-height: 120%;
    font-weight: 700;
    font-size: 61px;
    font-style: normal;
    letter-spacing: 0%;
    text-align: center;
    align-self: center;
    margin: 0px;
    padding: 0px;
}

.line {
    width: 150px;
    height: 0px;
    border: 3px solid var(--color-accent);
    margin-top: 10px;
}

.input-main-container {
    width: 422px;
    height: 152px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-top: 32px;
}

.input-email::placeholder,
.input-password::placeholder {
    color: rgb(215, 215, 215);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    padding-left: 20px;
}

.input-symbol {
    width: 24px;
    height: 24px;
}

.input-email-container {
    width: 422px;
    height: 48px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.input-email {
    width: 380px;
    height: 24px;
    border-width: 0px;
}

.input-password-container {
    width: 422px;
    height: 48px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.input-password {
    width: 380px;
    height: 24px;
    border-width: 0px;
}

.log-in-button-container {
    width: 322px;
    height: 48px;
    gap: 35px;
    display: flex;
    padding-top: 32px;
}

.log-in-button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
}

.log-in-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
    border-width: 0px;
}

.log-in-guest-button {
    width: 177px;
    height: 48px;
    border-radius: 8px;
    border-color: rgb(82, 92, 106);
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
}

.log-in-guest-button:hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
    border-width: 2px;
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.registry-button,
.log-in-button,
.log-in-guest-button {
  transition: all 0.1s ease;
}

.registry-button,
.log-in-button,
.log-in-guest-button {
  transition: background-color 0.1s ease, 
              border-color 0.1s ease, 
              border-width 0.1s ease, 
              box-shadow 0.1s ease, 
              color 0.1s ease;
}


@keyframes move-to-top-left {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 80px;
        left: 77px;
        width: 100px;
        height: 100px;
        transform: translate(0, 0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}