.form-sign-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-up-container {
    max-width: 652px;
    min-width: 235px;
    height: 590px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px 48px 0px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in 2.5s ease forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-line {
    width: 150px;
    height: 0px;
    border: 3px solid var(--color-accent);
    margin-top: 10px;
    border-radius: 3px;
}

.input-sign-up-name::placeholder,
.input-sign-up-email::placeholder
.input-sign-up-password::placeholder,
.input-sign-up-confirm-password::placeholder {
    color: rgb(215, 215, 215);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    padding-left: 21px;
}

.input-sign-up-name-container,
.input-sign-up-email-container,
.input-sign-up-password-container,
.input-sign-up-confirm-password-container {
    max-width: 422px;
    width: 100%;
    height: 48px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 8px;
    display: flex;
    align-items: center;
    align-self: center;
}

.input-sign-up-email,
.input-sign-up-password,
.input-sign-up-name,
.input-sign-up-confirm-password {
    width: 380px;
    height: 24px;
    border-width: 0px;
    outline: none;
    font-size: 20px;
}

.sign-up-header {
    display: flex;
    gap: 53px;
    width: 124%;
    justify-content: center;
    place-self: end;
}

.sign-up-form-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 48px;
}

.successfully-signed-up {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 321px;
    height: 74px;
    padding-inline: 25px;
    background-color: var(--color-primary);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    place-self: center;
}

.sign-up-checkbox {
    display: none;
}

.custom-checkbox {
    cursor: pointer;
}

.custom-checkbox:hover {
    background-image: url(../assets/imgs/symbols/unchecked-checkbox-hover.svg);
    background-size: cover;
}

.custom-checked-checkbox {
    cursor: pointer;
}

.custom-checked-checkbox:hover {
    background-image: url(../assets/imgs/symbols/checked-checkbox-hover.svg);
    background-size: cover;
}

.enabled-sign-up-form-button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
    border-width: 0px;
    border: unset;
}

.disabled-sign-up-form-button {
    opacity: 0.2;
    cursor: default;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    border-width: 0px;
    border: unset;
}

.disabled-sign-up-form-button:hover,
.enabled-sign-up-form-button:hover {
    background-color: var(--color-accent);
    box-shadow: 0px 4px 4px rgb(182, 182, 182);
}

.sign-up-button {
    width: 110px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
    border: unset;
}

.error-username-and-mail-reqired {
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
    align-self: baseline;
}

.password-matters {
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding-left: 20px;
    align-self: baseline;
}

.accept-policy {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #bdbdbd;
    cursor: default;
    padding-left: 20px;
}