html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 116px;
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}

:root {
  --color-primary: #2a3647; /* main color */
  --color-secondary: #091931; /* main color hover */
  --color-accent: #29abe2; /* accents color */
}