::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

html {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter';
}

h1,
h2,
h3,
h4,
span,
strong,
a,
p,
label,
button,
img {
    caret-color: transparent;
}

.no-caret {
    caret-color: transparent;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

:root {
    --color-primary: #2a3647;
    /* main color */
    --color-secondary: #091931;
    /* main color hover */
    --color-accent: #29abe2;
    /* accents color */
}

.content {
    height: 100vh;
    display: flex;
}

.page-content {
    box-sizing: border-box;
    height: calc(100vh - 96px);
    overflow-y: auto;
    padding: 80px 64px 24px 64px;
    max-width: calc(1440px - 232px);
}

.arrow-left {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
}

.arrow-left:hover {
    background-color: #efefef;
    transform: scale(1.1);
}

.profile-initials button {
    cursor: pointer;
    padding: 13px;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: var(--color-accent);
    font-weight: 600;
    font-size: 20px;
}

.profile-initials button:hover {
    background-color: rgb(227, 227, 227);
}

.dropdown-content {
    cursor: pointer;
    position: absolute;
    background-color: var(--color-primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    top: 95px;
    right: 0px;
    border-radius: 10px 0px 10px 10px;
}

.dropdown-content a {
    color: rgb(197, 197, 197);
    padding: 0px 20px 30px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white;
}

.dropdown-item {
    padding-top: 20px !important;
}

.d-none {
    display: none !important;
}