@media (max-width: 825px) {
    /* .header-text {
        display: block;
    } */

    .header-content {
        /* justify-content: flex-start; */
        margin-left: 25px;
    }

    .header-text {
        margin-left: 0;
    }
}

@media (max-width: 720px) {
    .sidebar-nav {
        justify-content: center !important;
    }

    .header-content {
        /* justify-content: center; */
        justify-content: space-between;
        margin-left: 0px;
    }
}

@media (max-width: 350px) {
    .sidebar-nav {
        font-size: 16px;
    }
}