@media (max-width: 1350px) {
    .welcome-message h1 {
        font-size: 32px;
    }

    .welcome-message h2 {
        font-size: 38px;
    }

    .urgent-section {
        margin-left: 7%;
        gap: 15px;
    }

    .second-row {
        gap: 45px;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    .welcome-message h1 {
        font-size: 30px;
    }

    .welcome-message h2 {
        font-size: 34px;
    }

    .urgent-section {
        margin-left: 6%;
        gap: 20px;
    }

    .second-row {
        gap: 35px;
    }
}

@media (min-width: 1001px) and (max-width: 1125px) {
    .welcome-message h1 {
        font-size: 26px;
    }

    .welcome-message h2 {
        font-size: 30px;
    }

    .summary-header {
        gap: 30px;
    }

    .urgent-section {
        margin-left: 5%;
        gap: 10px;
    }

    .second-row {
        gap: 25px;
    }

    .text-center-box-deadline p {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .summary {
        flex-direction: column;
        align-items: flex-start;
    }

    .summary-header {
        align-items: flex-start;
    }

    .summary-boxes {
        width: 100%;
    }

    .line {
        display: none;
    }

    .line-mobile {
        display: block;
        height: 3px;
        width: 120px;
        background-color: var(--color-accent);
        border-radius: 2px;
    }

    .summary-header {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .welcome-message {
        position: fixed;
        top: 108px;
        width: 65%;
        height: 74vh;
        position: fixed;
        text-align: center;
        z-index: 20;
        background-color: #f6f7f8;
        animation: fadeOut 0.5s ease-out 2s forwards;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
            visibility: visible;
        }

        99% {
            opacity: 0;
            visibility: visible;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    .welcome-message h1 {
        font-size: 38px;
        width: 300px;
    }

    .welcome-message h2 {
        font-size: 36px;
    }

    .second-row {
        gap: 40px;
    }

    .summary-box-color:hover {
        transform: scaleX(1.0) scaleY(1.0);
        background-color: var(--color-primary);
        color: white;
    }
}

@media (max-width: 800px) {
    .summary-content {
        overflow: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 720px) {
    .welcome-message {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .flex {
        gap: 16px;
        padding-bottom: 17px;
    }

    .counter {
        font-size: 40px;
    }

    .welcome-message {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .welcome-message h1 {
        font-size: 25px;
    }

    .welcome-message h2 {
        font-size: 32px;
    }

    .check-icon {
        width: 36px;
        height: 36px;
    }

    .edit-icon {
        width: 25px;
        height: 25px;
    }

    .urgent-icon-img {
        width: 25px;
        height: 25px;
    }

    .urgent-section {
        margin-left: 4%;
    }

    .first-row {
        height: 120px;
    }

    .second-row {
        height: 120px;
        gap: 20px;
    }

    .third-row {
        height: 120px;
    }

    .text-center-box-deadline p {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    .sidebar-nav {
        font-size: 16px;
    }
}