
@media (max-width: 720px) {
  .contact-main-section {
    width: 100%;
  }

  .contact-main {
    display: none;
    width: 100%;
    overflow-y: hidden;
    padding: 32px 16px 32px 16px;
  }

  .contact-main.is-open {
    display: block;
    position: absolute;
    top: 96px;
    height: calc(100% - 80px);
  }

  .contact-sidebar {
    flex: 1;    
    padding: 24px 16px 24px 16px;
    margin-top: 96px;
    margin-bottom: 80px;
  }

  .contact-sidebar.hide {
    display: none !important;
  }

  .contacts-list{
    height: 100%;
  }

  .add-contact-button {
    position: fixed;
    bottom: 95px;
    right: 16px; 
    height: 56px;
    width: 56px;
    border-radius: 50%;
    padding: 0;
    justify-content: center;
    gap: 0;
    font-size: 0;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    z-index: 2000;
  }

  .sidebar{
    position: fixed;
  }

  .add-contact-button svg {
    width: 32px;
    height: 32px;
  }

  .contact-main-header{
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: auto;
  }

  .h1-contacts{
    font-size: 47px;
  }

  .contact-main-header .p-header-contact{
    order: 2;
    font-size: 20px;
  }

    .contact-main-header .line{
    order: 3;
    height: 3px;
    width: 90px;
  }

  .desktop-only {
  display: none;
  }

  .mobile-only {
      display: block;
      position: relative;
  }
    
  .menu-toggle{
        position: fixed;
        bottom: 195px;
        right: 0px;
        height: 56px;
        width: 56px;
        border-radius: 50%;
        background: var(--color-primary);
        color: white;
        font-size: 24px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
        z-index: 2000;
  }

  .menu-toggle:hover {
        background-color: var(--color-accent);
        box-shadow: 0px 4px 4px rgb(182, 182, 182);
        transition: all 0.1s ease;
  }

  .menu-options {
    position: fixed;
    bottom: 190px;
    right: -4px;
    background: #fff;
    border-radius: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 116px;
    height: 100px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 2100;
    transform: translateX(120%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menu-options button {
    background: none;
    border: none;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
  }

  .menu-options button:hover {
    background: #f0f0f0;
  }

  .menu-options.show {
    transform: translateX(0);
    opacity: 1;
  }

  .back-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -116px;
    right: 0px;
  }

  .contact-avatar-show{
      width: 80px;
      height: 80px;
      font-size: 27px;
      font-weight: 400;
  }

  .contact-info h2{
      font-size: 36px;
      font-weight: 700;
  }

  .show-contact-template {
      gap: 20px;
  }

  .contact-additional-info h3 {
      font-size: 20px;
  }

  .contact-additional-info h4 {
      font-size: 16px;
  }

  .popup-leftside img{
      display: none;
  }

  .popup-leftside{
      width: 100%;
      height: 352px;
      border-radius: 28px 28px 0px 0px;
      padding: 0px 24px 0px 24px;
  }

  .popup-leftside p{
      font-size: 20px;
  }

  .h2-contacts{
      font-size: 47px;
  }

  .profile-picture{
      position: absolute;
      top: 292px;
  }

  .close-button{
      top: 16px;
      right: 16px;
      left: auto;
  }

  .close-button svg{
      fill: white;
  }

  .popup-rightside{
      width: 100%;
      height: 352px;
      padding: 0;
  }

  .overlay-contact{
      z-index: 2003;
  }

  #add-contact-form{
      margin-top: 70px;
      width: 100%;
      display: flex;
  }

  #edit-contact-form{
      margin-top: 70px;
      width: 100%;
      display: flex;
  }

  .delete-button{
      background-color: white;
  }

  .cancel-button{
      display: none;
  }

  .input-add-contact{
      width: 100%;
  }

  .input-button{
     justify-content: center;
  }

  .input-container{
      gap: 15px;
      width: 100%;
      padding: 0px 24px;
  }

  .create-button{
      width: 202px;
      height: 51px;
  }

  .popup-contact {
      top: 50%;
      left: 50%;
      transform: translate(-50%, 150%);
      border-radius: 28px;
      width: 90%;
      height: auto;
      flex-direction: column;
      max-width: 400px;
  }

  .popup-contact.active {
      transform: translate(-50%, -50%);
  }

  .input-group{
      width: 100%;
  }

  .close-button:hover {
    background-color: var(--color-accent);
  }

}