@media (max-width: 1440px) {
    .sign-up-header {
        width: 100%;
        gap: 15px;
    }

    .sign-up-line {
        width: 90px;
        height: 0px;
        border: 2px solid var(--color-accent);
        margin-top: 4px;
        border-radius: 3px;
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 320px;
        width: 100%;
        height: 40px;
    }

    .sign-up-container {
        padding: 48px 48px 283px 48px;
    }

    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-name,
    .input-sign-up-confirm-password {
        width: 380px;
        font-size: 18px;
        margin-left: 5px;
        align-self: end;
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        height: 32px;
    }
}

@media (max-width: 733px) {
    .sign-up-line {
        border: 2px solid var(--color-accent);
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 320px;
        width: 100%;
        height: 28px;
    }

    .input-sign-up-name-container ::placeholder,
    .input-sign-up-email-container ::placeholder,
    .input-sign-up-password-container ::placeholder,
    .input-sign-up-confirm-password-container ::placeholder {
        font-size: 16px;
    }

    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-name,
    .input-sign-up-confirm-password {
        align-self: center;
    }

    .input-sign-up-name,
    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-confirm-password {
        max-width: inherit;
        width: 100%;
        height: 24px;
        border-width: 0px;
        outline: none;
    }

    .sign-up-button {
        width: 125px;
        height: 48px;
        border-radius: 8px;
        background-color: var(--color-primary);
        color: white;
        font-size: 21px;
        line-height: 120%;
        letter-spacing: 0%;
        cursor: pointer;
        font-size: 16px;
    }

    .disabled-sign-up-form-button,
    .enabled-sign-up-form-button {
        height: 30px;
        font-size: 16px;
    }

    .sign-up-container {
        height: 230px;
    }
}

@media (max-width: 500px) {
    .sign-up-header {
        gap: 30px;
    }

    .sign-up-container {
        padding: 48px 40px 334px 40px;
        height: 155px;
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 280px;
    }

    .input-sign-up-name,
    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-confirm-password {
        max-width: 226px;
        font-size: 18px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sign-up-header h1 {
        font-size: 40px;
    }

    .sign-up-line {
        width: 77px;
    }

    .disabled-sign-up-form-button {
        width: 102;
        height: 40px;
    }
}

@media (max-width: 415px) {
    .sign-up-container {
        padding: 28px 20px 213px 20px;
        height: 183px;
        z-index: 10;
    }

    .sign-up-header {
        gap: 30px;
    }

    .sign-up-line {
        width: 56px;
    }

    .form-sign-up {
        gap: 10px;
    }

    .sign-up-form-button-container,
    .enabled-sign-up-form-button {
        height: 35px;
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 206px;
        height: 26px;
    }

    .input-sign-up-name,
    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-confirm-password {
        max-width: 170px;
        font-size: 16px;
    }

    .sign-up-header h1 {
        font-size: 32px;
    }
}

