@media (max-width: 1370px) {
    .current-board-tasks {
        width: 214px;
    }

    .board-tasks {
        width: 230px;
    }
}

@media (max-width: 1320px) {
    .board-content {
        width: 100%;
    }

    .board-task-div {
        display: flex;
        flex-direction: column;
        height: 1200px;
    }

    #new-task-div {
        width: 100%;
    }

    .drop-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .board-tasks {
        width: 100% !important;
        margin-bottom: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
    }

    .board-tasks {
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
    }

    .board-tasks::-webkit-scrollbar {
        height: 8px;
    }

    .board-tasks::-webkit-scrollbar-track {
        background: transparent;
    }

    .board-tasks::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 8px;
    }

    .board-tasks::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
        cursor: pointer !important;
    }

    .board-tasks-headline {
        margin-bottom: 15px;
        margin-top: 20px;
        display: flex;
        position: sticky;
        left: 0;
        z-index: 10;
    }

    .board-tasks-headline {
        font-size: 17px;
    }
}

@media (max-width: 1085px) {
    .board-search-bar {
        width: 100%;
    }

    #board-search-input {
        width: 100%;
    }

    .board-search-bar-add-task {
        width: 100%;
    }

    .board-search-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .responsive-board-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 43px;
    }

    .responsive-board-header button {
        align-items: flex-end;
    }

    .responsive-button-d-block {
        display: block !important;
    }

    .responsive-button-d-none {
        display: none !important;
    }

    #board-add-task-btn {
        padding: 0;
        width: 35px;
        height: 35px;
        text-align: center;
        align-items: center;
        padding-top: 3px;
    }
}

@media (max-width: 985px) {
    .page-content {
        overflow-x: hidden;
    }

    .drop-div {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 45px;
    }

    .board-task-btn {
        height: 28px;
        width: 28px;
    }

    .current-board-tasks {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .sidebar-nav {
        font-size: 16px;
    }
}