@media(max-width: 1310px) {
    .create-task {
        flex-direction: column;

    }

    .task-additional-info {
        border: none;
        width: 100%;
        align-items: center;
        padding: 0 0 117px 0;
    }

    .task-main-info {
        width: 100%;
        align-items: center;
        padding: 0 0 35px 0;
    }

    .task-label-divs {
        margin-top: 20px;
    }

    .task-footer {
        padding-bottom: 40px;
    }

    .task-additional-info {
        align-items: start;
    }

    .task-main-info {
        align-items: start;
    }

    .input-border-size {
        width: 90%;
    }

    .input-wrapper {
        width: 90%;
    }

    .textarea {
        width: 90%;
    }

    #task-description {
        width: 100%;
    }

    .priority-btns {
        width: 90%;
    }

    .task-label-divs {
        width: 100%;
    }

    #contacts-to-select {
        width: 90%;
    }

    .delete-or-keep-subtask {
        right: 92px;
    }

    #selected-subtasks {
        width: 90%;
    }
}

@media(max-width: 975px) {
    .delete-or-keep-subtask {
        right: 80px;
    }
}

@media(max-width: 875px) {
    .header-text {
        margin-left: 40px;
    }

    .task-footer {
        flex-direction: column;
        gap: 8px;
    }

    .delete-or-keep-subtask {
        right: 64px;
    }
}

@media(max-width: 445px) {
    .priority-btns button {
        font-size: 16px;
        height: auto;
        padding: 18px 10px;
    }

    .priority-btns button svg {
        width: 16px;
    }

    .textarea svg {
        display: none;
    }

    .delete-or-keep-subtask {
        right: 51px;
    }

    .input-border-size {
        font-size: 16px;
    }

    #task-description {
        font-size: 16px;
    }
}

@media(max-width: 395px) {
    .nav {
        justify-content: center;
    }

    /* .nav svg {
        width: 24px;
        height: 24px;
    } */

    .priority-btns button {
        padding: 12px 5px;
    }

    .assign-contacts {
        font-size: 16px;
    }

    .task-category {
        font-size: 16px;
    }

    .task-label-divs {
        font-size: 16px;
    }

    .input-border-size::placeholder {
        font-size: 16px;
    }

    #task-description::placeholder {
        font-size: 16px;
    }
}

@media(max-width: 350px) {
    .task-btns {
        width: 270px;
    }

    #clear-btn {
        font-size: 16px;
    }

    #create-task-btn {
        font-size: 16px;
    }

    .title {
        font-size: 40px;
    }

    .add-task-to-board-div {
        width: 270px;
    }

    .priority-btns button {
        flex-direction: column;
    }

    .sidebar-nav {
        font-size: 16px;
    }
}