@media (max-width: 1440px) {

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 320px;
        width: 100%;
        height: 40px;
    }
}

@media (max-width: 733px) {
    .sign-up-line {
        border: 2px solid var(--color-accent);
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 320px;
        width: 100%;
        height: 32px;
    }

    .input-sign-up-name-container ::placeholder,
    .input-sign-up-email-container ::placeholder,
    .input-sign-up-password-container ::placeholder,
    .input-sign-up-confirm-password-container ::placeholder {
        font-size: 16px;
    }

    .input-sign-up-name,
    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-confirm-password {
        max-width: inherit;
        width: 100%;
        height: 24px;
        border-width: 0px;
        outline: none;
        align-self: center;
        font-size: 19px;
    }

    .sign-up-button {
        width: 125px;
        height: 48px;
        border-radius: 8px;
        background-color: var(--color-primary);
        color: white;
        font-size: 21px;
        line-height: 120%;
        letter-spacing: 0%;
        cursor: pointer;
        font-size: 16px;
    }

    .disabled-sign-up-form-button,
    .enabled-sign-up-form-button {
        height: 30px;
        font-size: 16px;
    }

    .sign-up-container {
        padding: 30px 48px 0px 48px;
        min-width: 280px;
    }
}

@media (max-width: 500px) {
    .sign-up-header {
        gap: 30px;
    }

    .sign-up-container {
        padding: 30px 30px 0px 30px;
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 280px;
    }

    .input-sign-up-name,
    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-confirm-password {
        max-width: 226px;
        font-size: 18px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sign-up-header h1 {
        font-size: 40px;
    }

    .sign-up-line {
        width: 77px;
    }

    .disabled-sign-up-form-button {
        width: 102;
        height: 30px;
    }
}

@media (max-width: 415px) {
    .sign-up-container {
        padding: 30px 15px 10px 15px;
        z-index: 10;
        min-width: 250px;
    }

    .error {
        text-align: center;
    }

    .sign-up-header {
        gap: 30px;
    }

    .sign-up-line {
        width: 56px;
    }

    .form-sign-up {
        gap: 10px;
    }

    .sign-up-form-button-container,
    .enabled-sign-up-form-button {
        height: 35px;
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 206px;
    }

    .input-sign-up-name,
    .input-sign-up-email,
    .input-sign-up-password,
    .input-sign-up-confirm-password {
        max-width: 170px;
        font-size: 16px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sign-up-header h1 {
        font-size: 32px;
    }
}

@media (max-width: 375px) and (max-height: 550px) {
    .sign-up-container {
        z-index: 10;
    }

    .input-sign-up-name-container,
    .input-sign-up-email-container,
    .input-sign-up-password-container,
    .input-sign-up-confirm-password-container {
        max-width: 189px;
    }

    .input-main-container {
        padding-top: 8px;
    }

    .form-sign-up {
        gap: 8px;
    }

    .sign-up-header {
        gap: 5px;
        width: 115%;
    }
}