@media (max-width: 1375px) {
    .board-content {
        width: 100%;
    }

    .board-task-div {
        display: flex;
        flex-direction: column;
        height: 1200px;
    }

    #new-task-div {
        width: 100%;
    }

    .drop-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .board-tasks {
        width: 100% !important;
        margin-bottom: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
    }

    .board-tasks {
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
        scrollbar-width: none;
    }

    .drop-div::-webkit-scrollbar {
        height: 5px;
    }

    .drop-div::-webkit-scrollbar-track {
        background: transparent;
    }

    .drop-div::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 10px;
    }

    .drop-div::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }

    .board-tasks-headline {
        margin-bottom: 15px;
        margin-top: 20px;
        display: flex;
        position: sticky;
        left: 0;
        z-index: 10;
    }

    .board-tasks-headline {
        font-size: 17px;
    }
}

@media (max-width: 1370px) {
    .current-board-tasks {
        width: 214px;
    }

    .board-tasks {
        width: 230px;
    }
}

@media (max-width: 1370px) {
    .current-board-tasks {
        width: 214px;
    }

    .board-tasks {
        width: 230px;
    }
}

@media (max-width: 1200px) {
    #task-overlay-content .create-task {
        flex-direction: column;
        gap: 20px;
    }

    #task-overlay-content {
        width: 70%;
        height: 900px;
    }

    #task-overlay-content.active {
        display: flex;
        flex-direction: column;
    }

    .overlay-task-title {
        font-size: 55px;
    }
    #selected-contacts {
        padding-top: 1rem;
    }
    #contact-input-and-dropdown {
        padding-top: 1rem;
    }
    #task-priority-label {
        padding-bottom: 1rem;
    }
    #task-due-date-label {
        padding-bottom: 1rem;
    }
    #task-description-label {
        padding-bottom: 1rem;
    }
    #task-title-label {
        padding-bottom: 1rem;
    }
}

@media (max-width: 1085px) {
    .board-search-bar {
        width: 100%;
    }

    #board-search-input {
        width: 100%;
    }

    .board-search-bar-add-task {
        width: 100%;
    }

    .board-search-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .responsive-board-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 43px;
    }

    .responsive-board-header button {
        align-items: flex-end;
    }

    .responsive-button-d-block {
        display: block !important;
    }

    .responsive-button-d-none {
        display: none !important;
    }

    #board-add-task-btn {
        padding: 0;
        width: 35px;
        height: 35px;
        text-align: center;
        align-items: center;
        padding-top: 3px;
    }

    .no-task-found-warning {
        padding-right: 0;
        justify-content: flex-start;
        padding-top: 10px;
    }
}

@media (max-width: 985px) {
    .page-content {
        overflow-x: hidden;
    }

    .drop-div {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    #task-overlay-content {
        width: 60%;
    }

    #task-overlay-content.active {
        align-items: center;
    }
}



@media (max-width: 880px) {
    .overlay-titel h3 {
        font-size: 52px;
    }

    #task-overlay-content {
        width: 70%;
    }
}

@media (max-width: 760px) {
    #task-overlay-content {
        width: 80%;
        /* max-height: 926px; */
        overflow-y: scroll;
    }
}

@media (max-width: 720px) {

    .task-additional-info,
    .task-main-info {
        align-items: center;
    }

    .overlay-titel h3 {
        font-size: 48px;
    }

    .task-overlay {
        height: 700px;
    }

    .overlay-footer {
        padding-bottom: 1rem;
    }
}

@media (max-width: 680px) {
    .overlay-titel h3 {
        font-size: 44px;
    }
}

@media (max-width: 650px) {
    .overlay-titel h3 {
        font-size: 32px;
    }

    #task-overlay-content .task-main-info {
        width: 100%;
        align-items: center;
    }

    #task-overlay-content .input-border-size {
        width: 380px;
    }

    #task-overlay-content .task-label-divs {
        width: 380px;
    }

    #task-overlay-content .input-wrapper {
        width: 380px;
    }

    #task-overlay-content #task-description {
        width: 380px;
    }

    #task-overlay-content .priority-btns {
        width: 380px;
    }

    #task-overlay-content .priority-btns button {
        width: 100px;
        font-size: 16px;
    }

    #task-overlay-content .priority-btns svg {
        width: 16px;
        height: 10.51px;
    }

    #task-overlay-content li {
        grid-template-columns: 0.2fr 3fr 3fr;
    }
}

@media (max-width: 580px) {
    #task-overlay-content {
        width: 90%;
    }
}

@media (max-width: 515px) {
    #task-overlay-content .task-main-info {
        width: 100%;
        align-items: center;
    }

    #task-overlay-content .input-border-size {
        width: 320px;
    }

    #task-overlay-content .task-label-divs {
        width: 320px;
    }

    #task-overlay-content .input-wrapper {
        width: 320px;
    }

    #task-overlay-content #task-description {
        width: 320px;
    }

    #task-overlay-content .priority-btns {
        width: 320px;
    }

    #task-overlay-content .priority-btns button {
        width: 80px;
        font-size: 14px;
    }

    #task-overlay-content .priority-btns svg {
        width: 14px;
        height: 8.51px;
    }
    #selected-contacts {
            grid-template-columns: repeat(7, 1fr);
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 45px;
    }

    .board-task-btn {
        height: 28px;
        width: 28px;
    }

    .current-board-tasks {
        width: 100%;
    }
}

@media (max-width: 420px) {

    .overlay-due-date h4,
    .overlay-priority h4,
    .overlay-assignee h4 {
        font-size: 17px;
    }

    .contact-html-name,
    .contact-html {
        gap: 15x;
    }

    .contact-html-name p {
        font-size: 16px;
    }

}

@media (max-width: 440px) {
    #task-overlay-content span {
        font-size: 18px;
    }

    #task-overlay-content p {
        font-size: 18px;
    }

    #task-overlay-content .task-main-info {
        width: 100%;
        align-items: center;
    }

    #task-overlay-content .input-border-size {
        width: 290px;
    }

    #task-overlay-content .task-label-divs {
        width: 290px;
    }

    #task-overlay-content .input-wrapper {
        width: 290px;
    }

    #task-overlay-content #task-description {
        width: 290px;
    }

    #task-overlay-content .priority-btns {
        width: 290px;
    }

    #task-overlay-content .priority-btns p {
        display: none;
    }

    #task-overlay-content .priority-btns button {
        width: 60px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }

    #task-overlay-content .priority-btns svg {
        width: 20px;
        height: 14.51px;
    }

    #task-overlay-content li svg {
        width: 20px;
        height: 19px;
    }

    #task-overlay-content {
        padding: 20px;
    }
}

@media (max-width: 370px) {
    #task-overlay-content span {
        font-size: 16px;
    }

    #task-overlay-content p {
        font-size: 16px;
    }

    #task-overlay-content .input-border-size {
        width: 240px;
        padding: 4px 13px;
    }

    #task-overlay-content .task-label-divs {
        width: 240px;
    }

    #task-overlay-content .input-wrapper {
        width: 240px;
    }

    #task-overlay-content #task-description {
        width: 240px;
    }

    #task-overlay-content .priority-btns {
        width: 240px;
    }

    #task-overlay-content .priority-btns button {
        width: 50px;
        font-size: 14px;
    }

    #task-overlay-content .priority-btns svg {
        width: 20px;
        height: 14.51px;
    }

    #selected-contacts {
            grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 350px) {
    .sidebar-nav {
        font-size: 16px;
    }

    .overlay-titel h3 {
        font-size: 18px;
    }
}

@media (max-height: 1150px) {
    #task-overlay-content {
        height: 800px;
    }

    .overlay-footer {
        padding-bottom: 1rem;
    }

    .task-overlay {
        height: 100%;
        justify-content: space-between;
    }
}

@media (max-height: 1020px) {
    #task-overlay-content {
        height: 720px;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
    }

    #overlay-subtasks-details {
        height: 70px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
    }

    .overlay-footer {
        margin-top: -1.5rem;
    }

}

@media (max-height: 910px) {
    #task-overlay-content {
        height: 550px;
    }
    
    .overlay-selected-contacts {
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
    }

    #overlay-subtasks-details {
        height: 60px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
    }

    .overlay-footer {
        margin-top: -1rem;
    }
}


@media (max-height: 820px) {
    .task-overlay {
        gap: 12px;
    }

    #task-overlay-content {
        height: 550px;
    }

    .overlay-selected-contacts svg {
        width: 36px;
        height: 36px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .contact-html-name p {
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .overlay-footer {
        margin-top: 0;
    }
    .circle {
        height: 20px;
    }
    .contact-html-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .overlay-titel h3{
        font-size: 30px;
    }
}

@media (max-height: 760px) {
    #task-overlay-content {
        height: 500px;
        padding: 20px;
    }

    #task-overlay-content h4 {
        font-size: 16px;
    }

    .task-overlay {
        gap: 8px;
    }

    .overlay-footer {
        margin-top: -0.8rem;
    }
}

@media (max-height: 710px) {
    #task-overlay-content {
        height: 450px;
    }

    .task-overlay {
        gap: 8px;

    }
    .contact-html {
        display: flex;
        flex-direction: row;
    }
    .overlay-selected-contacts {
        height: 50px;
    }
    .contact-html-name {
        display: none;
    }
}

@media (max-height: 660px) {
    #task-overlay-content {
        height: 300px;
    }

    #overlay-subtasks-details {
        height: 40px;
    }

    .overlay-footer {
        margin-top: -1rem;
    }
}